/*  */
/* selector por clase */
.cabecera{
  background-color: lavender;
  height: 200px;
}
.cabecera img{
  display: inline-block;
  width: 250px;
  border-radius: 100%;
  position: relative;
  right: 600px;
  top: 25px;

}
.cabecera h3{
  display: inline-block;
  position: relative;
  left: 55px;
  bottom: 35px;
}

/* selector de id*/
#tituloPrincipal{
  display: inline-block;
  width: auto;
  position:relative;
  left: 300px;
  bottom: 70px;

}
.navPrincipal{
  background-color: olive;

}
.principal{
  background-color: pink;
}
.galeria{
  background-color: lavender;
}
.noticias{
  background-color: lavender;


}
.nota1{
  background-color: olive;
  display: inline-block;
  position: relative;

  width: 48%;


}
.nota1 img{
  display: inline-block;
  width: 200px;
  position: relative;
  left: 35%;
  border-radius: 100%;

}
.nota1 h4{
  text-align: center;
}

.nota2{
  background-color: olive;
  display: inline-block;
  position: relative;

  width: 48%;


}
.nota2 img{
  width: 200px;
  position: relative;
  left: 35%;
  border-radius: 100%;

}
.nota2 h4{
  text-align: center;
}

.piePagina{
  background-color: pink;
}

/* selector combinador de descendientes*/
nav li{
  display: inline-block;
}
/* multiples selectores */
h2,h3,h4,h5{
  color: purple;
}

/* combinador de hijo */
ul>li{
  list-style: none;
}
/* selector usando clases y etiquetas */
.galeria img{
  width: 200px;
  height: auto;
}
.navPrincipal li{
  background-color: red;
}
/* ppseudoclases */
.navPrincipal li:hover{
  background-color: pink;
  transition-delay: 0.3s;
  transition-timing-function: ease-in;
  transition-property: background-color;
}
/* pseudo elementos */
.exciting-text: : after {
  content: " <- EXCITING";
  color: green;
}

.boring-text: :after {
  content: " <- BORING";
  color: red;
}

hr{
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 7px dotted red;
}
