body{
  font-family:  sans-serif;

}
.cabecera{
  background-color: rgb(238, 238, 238);
  height: 300px;
}
.cabecera h1{
  text-align: center;
  font-size: 50px;
  height: 80px;
  color: rgb(118, 74, 241);
}
.cabecera h4{
  position: relative;
  right: 60px;
  top: 20px;

}
.cabecera img{
  position: fixed;
  left: 5px;
  top: 25px;
  border-radius: 100%;
  width: 90px;
}
.cabecera nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabecera a{
  color: blueviolet;
  text-decoration: none;
  font-weight: bold;

}
.introduccion{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items:center;
  align-items: flex-start;
  background-color: rgb(238, 238, 238);
}
.introduccion h3{
  font-size: 29px;
  color: rgb(241, 84, 18);
  gap: 30px;
}
.introduccion img{
  width: 800px;
}

.Actividades{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items:center;
  gap: 20px;
  align-items: flex-start;
  background-color: rgb(238, 238, 238);
  height: 600px;
}
.Actividades h3{
  text-align: center;
  flex-basis: 100%;
  color: rgb(241, 84, 18);
}
.Actividades img{
  width: 300px;
  height: 200px;
}
.nota1,.nota2{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 35%;
}
.nota1 h4,.nota2 h4{
  text-align: center;
  flex-basis: 100%;
  color: rgb(241, 84, 18);
}

footer{
  background-color: rgb(125, 30, 106);
  height: 300px;
}
footer h3{

}
footer img{
  width: 30px;
}
.pie,.pie2{
  color: white;
}

hr{
  width: 100%;
  margin-top: 45px;
}
